body{
    padding: 50px;
    margin: 0px auto;
    background-color: aqua;
    height: 500px auto;
}
p{
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}
.summary{
    width: 750px auto;
}

#pic{
    display: flex;
    width: 1000px auto;
    place-content: center;
}

#links{
    width: 1000px auto;
}
.link{
    display: flex;
    place-content: center;
    vertical-align: top;
}
a{
    display: block;
    padding-top: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span{
    font-size: 15px;
    font-weight: bolder;
}